div#leftHeader {
    width: 200pt;
    height: 80pt;
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(249, 176, 176, 0.5); */
}

div#STC {
    width: 45%;
    height: 100%;
    color: #079CEF;
    font-weight: 850;
    font-size: 45pt;
}

div#TimeManagment {
    width: 45%;
    height: 100%;
    font-size: larger;
    vertical-align: middle;
    padding-top: 13pt;
    font-size: 10pt;
    font-weight: 600;
}

.sideTitles {
    height: 30pt;
    font-size: 15pt;
    font-weight: 600;
    padding-top: 10pt;
}

a {
    text-decoration: none;
    color: black;
}

.subButtons {
    font-size: 13pt;
    font-weight: 300;
    margin: 5pt 0pt;
    margin-right: -20pt;
    padding: 10pt;
    color: black;
    border-radius: 10pt 0pt 0pt 10pt;
    text-decoration: none;


}

.subButtons:hover {
    background-color: rgba(7, 156, 239, 0.1);
}

.subButtons_active {
    font-size: 13pt;
    font-weight: 600;
    margin: 5pt 0pt;
    padding: 10pt;
    margin-right: -20pt;
    background-color: #079CEF;
    fill: rgb(214, 19, 19);
    color: white;
    border-radius: 10pt 0pt 0pt 10pt;
    text-decoration: none;
    align-items: center;

}

.icon {
    fill: red;
    width: 20pt;
    height: 20pt;
    margin-right: 10pt;

}

.nav-link {
    display: inline-block;
}

#rightButtons {
    float: right;
    width: 220pt;
    height: 100vh;
    padding: 20pt 20pt;
    box-shadow: 0pt 0pt 10pt 5pt rgba(0, 0, 0, 0.2);
}

#user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#iconUser {
    height: 50pt;
    width: 50pt;
    align-items: center;
}

#userOptions {
    margin-top: 5pt;
    margin-left: 5pt;
    flex-direction: column;
    justify-content: space-evenly;
}