@font-face {
    font-family: "QuickSand";
    src: url("Quicksand.ttf") format("truetype-variations");
    font-weight: 1 999;
}

* {
    font-family: "QuickSand";
    padding: 0;
    list-style-position: inside;
    text-align: left;
}

html,
body {
    height: 100%;
    background-color: aqua;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}


div#leftButtons {
    width: 220pt;
    height: 100vh;
    padding: 5pt 20pt;
    /*diffused grey box shadow on the right*/
    box-shadow: 0pt 0pt 10pt 5pt rgba(0, 0, 0, 0.2);
}

#mainSpace {
    width: 100vw - 440pt;
    height: 100vh;
    padding: 40pt;
    flex-grow: 1;
}

#rightButtons {
    float: right;
    width: 220pt;
    height: 100vh;
    padding: 20pt 20pt;
    box-shadow: 0pt 0pt 10pt 5pt rgba(0, 0, 0, 0.2);
}

.inputLabel {
    font-size: 10pt;
    font-weight: 600;
    padding: 5pt;
}

/* .inputField {
    font-size: 10pt;
    font-weight: 600;
    padding: 5pt;
    border-radius: 5pt;
    border: 1pt solid black;
} */





.boxElement {
    height: 100%;
    padding: 20pt;
    box-shadow: 0pt 0pt 10pt 5pt rgba(0, 0, 0, 0.2);
    border-radius: 20pt;
}

#Logout {}

#Calendar {}

#MessageBoard {}













/*ICONS*/
#employeeWorkHours {
    list-style-image: url(icons/All/outline/video-time.svg);
    vertical-align: middle;
}

#employeeApplyForVacation {
    list-style-image: url();
}

#employeeApplyForSickness {
    list-style-image: url();
}