@font-face {
    font-family: "QuickSand";
    src: url("Quicksand.ttf") format("truetype-variations");
    font-weight: 1 999;
}

* {
    font-family: "QuickSand";
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
    text-align: left;
}

html,
body {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}


#leftButtons {
    width: 220pt;
    height: 100vh;
    padding: 5pt 20pt;
    /*diffused grey box shadow on the right*/
    box-shadow: 0pt 0pt 10pt 5pt rgba(0, 0, 0, 0.2);
}

#mainSpace {
    width: 100vw - 440pt;
    height: 100vh;
    padding: 40pt;
    flex-grow: 1;
}

.mainButtons {
    padding-bottom: 10pt;
}

#rightButtons {
    float: right;
    width: 220pt;
    height: 100vh;
    padding: 20pt 20pt;
    box-shadow: 0pt 0pt 10pt 5pt rgba(0, 0, 0, 0.2);
}

.inputLabel {
    font-size: 10pt;
    font-weight: 600;
    padding: 5pt;
}

#MessageBoard {
    height: 300pt;
    border-radius: 20pt;
}

#calendar_space {
    height: 200pt;
    height: 200pt;
    margin-top: 10pt;
    margin-bottom: 20pt;
    /* background-color: rgb(247, 251, 255); */
}

.boxElement {
    height: 100%;
    padding: 30pt;
    box-shadow: 0pt 0pt 10pt 5pt rgba(0, 0, 0, 0.2);
    border-radius: 10pt;
}

#Logout:hover {
    color: rgb(171, 42, 42);
    font-weight: 600;
}

#mySpace {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15pt;
}

#icon_user {
    height: 200pt;
    width: 200pt;
    padding-top: 20pt;
    padding-left: 20pt;
}

#info_user {
    padding-top: 20pt;
    padding-left: 20pt;
}

#text_image {
    width: 180pt;
    text-align: center;
    align-items: center;
    padding-top: 10pt;
}

.form-group {
    padding-bottom: 40pt;
}

.submitButton {
    height: 50pt;
    border-radius: 5pt;
    text-align: center;
    font-size: large;
    font-weight: 600;
    background-color: #079CEF;
    color: white;
    border-width: 0;
    width: 100%;
    height: 30pt;
}

.submitButton:hover {
    font-weight: 900;
    box-shadow: #079eef61 0pt 0pt 20pt 0pt;
}

#Calendar {}

#MessageBoard {}