<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Vacation Application - STC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Used for Bootstrap -->
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div id="main" class="d-flex justify-content-between">

        <div th:replace="navbar :: navbar">...</div>

        <div id="mainSpace">
            <h1 style="padding-bottom: 20pt;">Vacation Application</h1>

            <!--            
           <div id="day"> </div>
           <div id="hours">
                <div id="init_hour"></div>
                <div id="final_hour"></div> 
           </div> -->

            <!-- <div class="boxElement"> -->
            <h3>Put your wished vacation period in here</h3>
            <div class="form-group">
                <form action="#" th:action="@{/applyVacation}" th:object="${time}" method="post">
                    <div class="d-flex justify-content-between" style="padding: 20pt 0pt">
                        <label class="inputLabel" for="date">Start Date</label>
                        <input type="date" class="form-control" id="start" th:field="*{startPeriod}">
                    </div>

                    <div class="d-flex justify-content-between" style="padding: 20pt 0pt">
                        <label class="inputLabel" for="date">End Date</label>
                        <input type="date" class="form-control" id="end" th:field="*{endPeriod}">

                    </div>

                    <div class="d-flex justify-content-between">

                    </div>

                    <button type="submit" value="Submit" class="btn btn-primary"
                        style="background-color: #079CEF; border-width: 0; width: 100%; height: 30pt;">Submit</button>
                </form>


            </div>
        </div>

        <div th:replace="rightPanel :: rightPanel">...</div>

    </div>

</body>

</html>