<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sickness Information - STC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Used for Bootstrap -->
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div id="main" class="d-flex justify-content-between">

        <div th:replace="navbar :: navbar">...</div>

        <div id="mainSpace">
            <h1 style="padding-bottom: 20pt;">Sickness Information</h1>
            <h3>You are sick? Inform us now!</h3>

            <div class="form-group">
                <form action="#" th:action="@{/applySickness}" th:object="${day}" method="post">
                    <div class="d-flex justify-content-between" style="padding: 20pt 0pt">
                        <label class="inputLabel" for="date">Sickness Date</label>
                        <input type="date" class="form-control" id="date" th:field="*{sicknessDay}">
                    </div>

                    <div class="d-flex justify-content-between">

                    </div>

                    <button onclick="myFunction()" type="submit" value="Submit" class="submitButton">
                        Submit
                    </button>

                    <script>
                        function myFunction() {
                            var a = [[${ day != -1}]];
                        console.log(a);
                        if (a) {
                            alert("Your sickness has been submitted!");
                        }
                        else {
                            alert("You have already uploaded this date");
                        }
                            
                        }

                    </script>

                </form>
            </div>

            <h3>Your sickness history</h3>


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sickness Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>[[${day}]]</td>  -->
                        <!-- <td th:text="${day.getSicknessDay()}">...</td> -->
                        <td>08/11/2022</td>
                    </tr>
                    <tr>
                        <td>09/11/2022</td>
                    </tr>
                </tbody>
            </table>


        </div>

        <div th:replace="rightPanel :: rightPanel">...</div>

    </div>

</body>

</html>