<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Month Work Hours - STC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Used for Bootstrap -->
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

<script>
    // Function that checks every attribute: dataTable1, dataTable2...
    // If the attribute is not null, then it will be displayed
    function showTable() {
        const i = 1;
        const attribute = "dataTable" + i;

        const tr = document.createElement('tr');
        tr.setAttribute("th:each", attribute + " : ${" + attribute + "}");
        const td1 = document.createElement("td");
        td1.setAttribute("th:text", "${" + attribute + ".workDate}");
        const td2 = document.createElement("td");
        td2.setAttribute("th:text", "${" + attribute + ".startTime}");
        const td3 = document.createElement("td");
        td3.setAttribute("th:text", "${" + attribute + ".endTime}");
        const td4 = document.createElement("td");
        td4.setAttribute("th:text", "${" + attribute + ".workTime}");

        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);
        tr.appendChild(td4);

        // Add element tr to the first tbody with class name "tableBody"
        document.getElementsByClassName("tableBody")[0].appendChild(tr);

        //document.getElementById("scryptTBody").appendChild(tr);

        //document.getElementsByTagName("tbody")[0].appendChild(tr);

        console.log("HERE: "+attribute);

        /*while (true) {
            var attribute = "dataTable" + i;

            if (document.getElementById(attribute) != null) {
                console.log(attribute);
                // getUsername.findById();
                // <tr>
                //   <td th:text="${dataTable1.workDate}"></td>
                //   <td th:text="${dataTable1.startTime}"></td>
                //   <td th:text="${dataTable1.endTime}"></td>
                //   <td th:text="${dataTable1.workTime}"></td>
                // </tr>

                var tr = document.createElement("tr");
                tr.setAttribute("th:each", attribute + " : ${" + attribute + "}");
                console.log(tr);
                var td1 = document.createElement("td");
                td1.setAttribute("th:text", "${" + attribute + ".workDate}");
                var td2 = document.createElement("td");
                td2.setAttribute("th:text", "${" + attribute + ".startTime}");
                var td3 = document.createElement("td");
                td3.setAttribute("th:text", "${" + attribute + ".endTime}");
                var td4 = document.createElement("td");
                td4.setAttribute("th:text", "${" + attribute + ".workTime}");

                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(td3);
                tr.appendChild(td4);
                document.getElementsByTagName("tbody")[0].appendChild(tr);
                i++;
            } else {
                break;
            }
        }*/
    }


</script>
<script>
    showTable();
</script>


    <div id="main" class="d-flex justify-content-between">
        <div th:replace="navbar :: navbar">...</div>
        <div id="mainSpace">
            <h1>Month Work Hours</h1>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Work Date </th>
                    <th>Start Hour </th>
                    <th>End Hour </th>
                    <th>Total Day Worked Hours </th>
                </tr>
                </thead>
                <tbody class="tableBody" id="scryptTBody">
                <!-- Execute the scrypt showTable()  -->
                </tbody>
            </table>


        </div>
        <div th:replace="rightPanel :: rightPanel">...</div>
    </div>
</body>

</html>