<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>STC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Used for Bootstrap -->
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div th:fragment="navbar">
        <div id="leftButtons">
            <div id="leftHeader">
                <a th:href="@{/home}" style="text-decoration: none;">
                    <div id="STC">STC</div>
                </a>
                <div id="TimeManagment">Time <br> Management <br> Software</div>
            </div>

            <!-- EMPLOYEE: Work Hours, Apply for Vacation, I'm Sick -->
            <div class=mainButtons id="employee">
                <p class="sideTitles">EMPLOYEE</p>
                <div class="secondaryButtons">
                    <div id="employeeWorkHours"
                        th:classappend="${#httpServletRequest.getRequestURI().startsWith('/workHours') ? 'subButtons_active':'subButtons'}">
                        <!-- ${#httpServletRequest.getRequestURI() -->
                        <!-- This is the current URL -->
                        <!-- .startsWith('/workHours') -->
                        <!-- This is the URL we want to check -->
                        <!-- ? 'subButtons_active':''} -->
                        <!-- This is the class we want to add if the condition is true -->
                        <!-- w iPr -->

                        <img th:href="@{/workHours}" src="icons/video-time.svg" alt="Work Hours" class="icon">
                        <a th:href="@{/workHours}" class="nav-link" style="display: inline-block;">
                            Work Hours

                            <!-- th:classappend="${#httpServletRequest.getRequestURI().startsWith('/workHours') ? 'subButtons_active':''}" -->


                        </a>
                    </div>
                    <div id="employeeApplyForVacation"
                        th:classappend="${#httpServletRequest.getRequestURI().startsWith('/applyVacation') ? 'subButtons_active':'subButtons'}">
                        <img th:href="@{/applyVacation}" src="icons/airplane.svg" alt="Apply For Vacation" class="icon">
                        <a th:href="@{/applyVacation}" class="nav-link" style="display: inline-block;">
                            Apply for Vacation
                        </a>
                    </div>
                    <div id="employeeApplyForSickness"
                        th:classappend="${#httpServletRequest.getRequestURI().startsWith('/applySickness') ? 'subButtons_active':'subButtons'}">
                        <img th:href="@{/applySickness}" src="icons/health.svg" alt="Apply For Sickness" class="icon">
                        <a th:href="@{/applySickness}" class="nav-link" style="display: inline-block;">
                            Apply for Sickness
                        </a>
                    </div>

                </div>
            </div>

            <!-- SUPERVISOR: Month Work Hours, Vacation Requests -->
            <span th:if="${user.authority == ('supervisor') or user.authoritys == ('superhr')}">
                <div class=mainButtons id="supervisor">
                    <p class="sideTitles">SUPERVISOR</p>
                    <div class="secondaryButtons">
                        <div th:classappend="${#httpServletRequest.getRequestURI().startsWith('/monthWorkHours') ? 'subButtons_active':'subButtons'}"
                            id="supervisorMonthWorkHours">
                            <!-- icons/vide-time.svg  -->
                            <img th:href="@{/monthWorkHours}" src="icons/video-time.svg" alt="Month Work Hours"
                                class="icon">
                            <a th:href="@{/monthWorkHours}" class="nav-link" style="display: inline-block;">
                                Month Work Hours
                            </a>
                        </div>
                        <div th:classappend="${#httpServletRequest.getRequestURI().startsWith('/vacationRequests') ? 'subButtons_active':'subButtons'}"
                            id="supervisorVacationRequests">
                            <img th:href="@{/vacationRequests}" src="icons/airplane.svg" alt="Vacation Requests"
                                class="icon">
                            <a th:href="@{/vacationRequests}" class="nav-link" style="display: inline-block;">
                                Vacation Requests
                            </a>
                        </div>
                    </div>
                </div>
            </span>


            <!-- HR: User Management, Sick Employees -->
            <span th:if="${user.authority == ('hr') or user.authority == ('superhr')}">
                <div class=mainButtons id="HR">
                    <p class="sideTitles">HR</p>
                    <div class="secondaryButtons">
                        <div th:classappend="${#httpServletRequest.getRequestURI().startsWith('/userManagement') ? 'subButtons_active':'subButtons'}"
                            id="HRUserManagement">
                            <img th:href="@{/userManagement}" src="icons/profile-2user.svg" alt="User Management"
                                class="icon">
                            <a th:href="@{/userManagement}" class="nav-link" style="display: inline-block;">
                                User Management
                            </a>
                        </div>
                        <div th:classappend="${#httpServletRequest.getRequestURI().startsWith('/sickEmployees') ? 'subButtons_active':'subButtons'}"
                            id="HRSickEmployees">
                            <img th:href="@{/sickEmployees}" src="icons/health.svg" alt="Sick Employees" class="icon">
                            <a th:href="@{/sickEmployees}" class="nav-link" style="display: inline-block;">
                                Sick Employees
                            </a>
                        </div>
                    </div>
                </div>
            </span>

        </div>
    </div>
</body>

</html>