<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>STC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Used for Bootstrap -->
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div th:fragment="rightPanel">
        <div id="rightButtons">
            <div class="mainButtons d-flex justify-content-start" id="user">
                <a th:href="@{userInfo}" id="iconUser" class="d-flex align-items-center">
                    <img src="icons/user-picture.svg" alt="user">
                </a>

                <div id="userOptions" style="display: inline-block;">
                    <div id="Username" style="font-size: larger; font-weight: bold">
                        [[${user.forname}]] [[${user.name}]]</div>
                    <div id="Logout">
                        <a th:href="@{logout}" class="nav-link">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
            <div id="Calendar">
                <h4>CALENDAR</h4>
                <div style="display: inline-block">Today:
                    <span
                        th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}">[[${#dates.format(#dates.createNow(),
                        'dd/MM/yyyy')}]]
                    </span>
                </div>

            </div>

            <!--  Calendar -->
            <div id="calendar_space">
                <div id="current_month_calendar">

                </div>
            </div>
            <!--  Message Board -->
            <div id="MessageBoard">
                <h4>MESSAGE BOARD</h4>
                <div>
                    Message 1
                </div>
            </div>
        </div>
</body>

</html>