<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta charset="utf-8">
    <link rel="" stylesheet" href="styles.css">
    <title>Login - STC</title>
</head>

<body>
    <h1>Welcome to STC!</h1>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div id=log>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username" /> </label></div>
            <div><label> Password: <input type="password" name="password" /> </label></div>
            <div><input type="submit" value="Sign In" /></div>
        </form>
</body>

</html>